* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    flex-wrap: wrap;
}

.navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 25px;
    width: 25px;
}

.navbar-logo p {
    font-weight: bold;
    margin-left: 5px;
    font-size: clamp(14px, 1.2vw, 18px);
}

.navitems {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navitems a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: clamp(12px, 1.2vw, 16px);
    text-decoration: none;
    display: inline-block;
}

.navitems a:hover {
    color: #3b82f6;
    transform: scale(1.1);
}

.navbar-btn button {
    background-color: rgb(26, 142, 238);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 8px;
    font-size: clamp(12px, 1.2vw, 16px);
}

.navbar-btn button:hover {
    transform: scale(1.1);
}

.hero-container {
    width: 100%;
    height: 400px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-text h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    color: white;
    margin: 5px auto;
    text-align: center;
}

.hero-text h1 em {
    font-style: italic;
}

.hero-text p {
    font-size: clamp(1rem, 1.2vw, 2rem);
    color: white;
    line-height: 1.2;
    text-align: center;
    width: 40vw;
    margin: 5px auto;
}

.hero-btn {
    margin: 0% auto;
}

.hero-btn button:hover {
    transform: scale(1.1);
}


.hero-btn button {
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 6px;
    background-color: rgb(26, 142, 238);
    font-size: clamp(12px, 1.2vw, 16px);
}

.speakers-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.speaker-header h1 {
    margin-top: 20px;
    text-align: center;
    font-size: clamp(2rem, 1vw, 4rem);
}

.speakers {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    place-items: center;
}

.speaker-image {
    width: clamp(250px, 40vw, 900px);
}

.speaker-image img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: block;
}

.speaker-sector {
    color: blue;
    font-size: clamp(10px, 1vw, 14px);
    margin-top: 5px;
}

.speaker-company {
    font-size: clamp(10px, 1vw, 14px);
}

.speaker-name {
    font-size: clamp(16px, 1.5vw, 32px);
}

.pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin: 55px 0px;
}

.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    column-gap: 20px;
    row-gap: 20px;
}

.pricing-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 24px;
}
.pricing-header h1 {
    font-size: clamp(2rem, 1vw, 4rem);
    letter-spacing: 0.01rem;
}

.pricing-header p {
    font-size: clamp(12px, 1vw, 16px);
    text-align: center;
    margin-top: 5px;
}

.pricing-card-top p {
    font-size: clamp(8px, 1vw, 12px);
    color: rgba(0, 0, 0, 0.7);
}

.pricing-card-top h1 {
    font-size: clamp(2rem, 1vw, 4rem);
}

.pricing-card-middle ul {
    list-style-position: inside;
    line-height: 1.4;
    font-size: clamp(12px, 1.5vw, 32px);
}

.pricing-card-middle li::marker {
    color: rgb(101, 101, 243);
}

.pricing-card-hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.pricing-card-bottom {
    display: flex;
    justify-content: center;
}

.pricing-card-bottom button {
    margin-top: 15px;
    color: blue;
    border: 1px solid blue;
    background-color: inherit;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: clamp(12px, 1.2vw, 16px);
}

.pricing-card-bottom button:hover {
    transform: scale(1.1);
}

.card-3-btn button {
    color: black;
    border: 1px solid black;
}

/*Card 2 showing that is active*/

.card-2-container {
    background-color: rgb(41, 40, 75);
    transform: scale(1.05);
    color: white;
}

.card-2-bottom button {
    color: white;
    background-color: blue;
}

.card-2-top p:first-child {
    color: rgb(91, 159, 236);
}

.card-2-top p:last-child {
    color: rgba(255, 255, 255, 0.7);
}

.faq-section{
    padding:50px 10%;
    background:linear-gradient(135deg,#0f172a,#111827,#1e1b4b);
}

.faq-header{
    text-align:center;
    margin-bottom:60px;
}

.faq-header h2{

    font-size: clamp(2rem, 1vw, 4rem);
    background:linear-gradient(to right,#38bdf8,#8b5cf6,#ec4899);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    margin-bottom:15px;

}

.faq-header p{
    color:#cbd5e1;
    font-size: clamp(12px, 1vw, 20px);
}

.faq-header span{

    color:#38bdf8;
    font-weight:700;

}


.faq-container{

    max-width:700px;
    margin:auto;

}

.faq-card{

    margin-bottom:22px;

    background:rgba(255,255,255,.06);

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    backdrop-filter:blur(14px);

    transition:.35s;

    overflow:hidden;

}

.faq-card:hover{

    transform:translateY(-5px);

    border-color:#38bdf8;

    box-shadow:
    0 0 25px rgba(56,189,248,.3),
    0 0 40px rgba(139,92,246,.2);

}

/* Question */

.faq-card summary{

    cursor:pointer;

    padding:24px 28px;

    color:white;

    font-size: clamp(12px, 1.2vw, 20px);

    font-weight:600;

    list-style:none;

    position:relative;

}



summary::-webkit-details-marker{

    display:none;

}


.faq-card summary::after{

    content:"+";

    position:absolute;

    right:25px;
    top:18px;

    width:38px;
    height:38px;

    border-radius:50%;

    background:#38bdf8;

    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:clamp(14px,1vw,24px);

    transition:.3s;

}

/* Open State */

.faq-card[open] summary::after{

    content:"-";

    background:#8b5cf6;

    transform:rotate(180deg);

}

.faq-card p{

    padding:0 28px 24px;

    color:#dbeafe;

    line-height:1.8;

    font-size: clamp(12px, 1.2vw, 20px);

}

.footer-container {
    background-color: rgb(41, 40, 75);
    padding: 25px 50px;
    color: rgba(255, 255, 255, 0.8);
}

.footer-container hr {
    margin: 10px 0px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-top-left {
    display: flex;
    align-items: center;
}

.footer-top-right {
    display: flex;
    gap: 20px;
}

.footer-top-right a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.footer-top-right a:hover {
    color: #3b82f6;
}

.footer-top-left img {
    height: 25px;
    width: 25px;
}

.footer-top-left p {
    font-weight: bold;
    margin-left: 5px;
    font-size: clamp(14px, 1.2vw, 18px);
}

.footer-bottom p {
    font-size: clamp(12px, 1vw, 16px);
}
